# executable
computor
a.out

# object files
*.o
*.obj

# dependency files
*.d

# archives
*.a

# shared libraries
*.so
*.dylib

# debug
*.out
*.gch

# macOS
.DS_Store

# vscode
.vscode/
*.json

# idea
.idea/

# logs
*.log

# temp
tmp/
temp/

# subject files
*.pdf
memo.md

# coverage
*.gcda
*.gcno
*.gcov